.fullslide img {
  margin-top: -85px;
  margin-left: -60px;
}

.super { font-size: 150% }
.huge { font-size: 200% }

.bullets {
    display: inline-block;
}

.left-column-equal {
  width: 47%;
  float: left;
}
.right-column-equal {
  width: 47%;
  float: right;
}